# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore Nim build byproducts
nimcache/
nimblecache/
htmldocs/

# Ignore Environment Files
**/.env

# Ignore tests results
test_results/
